@import url("Base.css");

:root {
  --HeaderHeight: 80px;
}

.Header {
  width: 100vw;
  min-height: var(--HeaderHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.HeaderContent {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.MobileMenuButton {
  /* background: linear-gradient(
    to bottom,
    transparent calc(50% - 0.8px),
    rgb(156, 157, 156) calc(50% - 0.8px),
    rgb(156, 157, 156) calc(50% + 0.8px),
    transparent calc(50% + 0.8px)
  ); третья полоса по середине кнопки */
  appearance: none;
  width: 40px;
  height: 20px;
  display: none;
  gap: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 5px;
}

.MobileMenuButton:hover {
  opacity: 0.7;
}

.MobileMenuButton:active {
  opacity: 0.5;
}

.MobileMenuButton::before,
.MobileMenuButton::after {
  content: "";
  background-color: rgb(156, 157, 156);
  height: 2px;
  pointer-events: none;
  position: relative;
}

.MobileMenuButton::before {
  width: 33px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.MobileMenuButton:hover::before {
  width: 65%;
}

.MobileMenuButton::after {
  width: 65%;
  position: absolute;
  right: 1px;
  bottom: 11px;
}

.MobileMenuButton:hover::after {
  width: 100%;
}

.MobileMenuButton:checked {
  /* background: unset; */
  transform: translate(0px, -15px);
}

.MobileMenuButton:checked::before {
  width: 75%;
  position: relative;
  top: 0px;
  right: 0px;
  transform: rotate(45deg) translate(11px, 12px);
}

.MobileMenuButton:checked::after {
  width: 75%;
  position: relative;
  right: 0px;
  bottom: 0px;
  transform: rotate(-45deg) translate(-8px, 5px);
}

.HeaderMenu {
  max-width: 75rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .ListRow {
  gap: 20px;
}

.HeaderLink {
  min-height: var(--HeaderHeight);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 20px;
}

.HeaderLink::after {
  content: "";
  background-color: whitesmoke;
  width: 0px;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0px;
  transform: translateX(-0px);
}

.HeaderLink:hover::after {
  width: 100%;
}

.HeaderLink:hover {
  opacity: 0.7;
}

.HeaderLink:active {
  opacity: 0.5;
}

.HeaderLink.HeaderLinkClicked::after {
  width: 100%;
}

.HeaderLinkText {
  color: rgb(187, 187, 187);
  white-space: nowrap;
  font: normal 700 1.25rem system-ui;
}

.HeaderLink:focus-visible .HeaderLinkText {
  outline: 2px dashed rgb(27 127 204 / 80%);
  transition: unset;
}

.HeaderLink:focus-visible {
  outline: unset;
}

.DropDown {
  display: flex;
  flex-direction: column;
  position: relative;
}

.DropDownTop {
  min-height: var(--HeaderHeight);
  display: flex;
  gap: 10px;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  padding: 0px 20px;
}

.DropDownTop:hover {
  opacity: 0.7;
}

.DropDownTop:active {
  opacity: 0.5;
}

.ArrowIcon {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ArrowIcon::before {
  content: "";
  background-color: rgb(181, 181, 181);
  width: 25px;
  height: 25px;
  -webkit-mask: url(../images/ArrowIcon.svg) no-repeat;
  mask: url(../images/ArrowIcon.svg) no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.DropDown[open] .ArrowIcon {
  transform: rotate(180deg);
} 

.LanguageFlagIcon {
  width: 24px;
  height: 16px;
}

.DropDownContent {
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  padding: 12px 17px;
}

.DropDown .ListColumn {
  gap: 10px;
  align-items: flex-start;
}

.DropDown .HeaderLink {
  min-height: unset;
  padding: unset;
}

.DropDown .HeaderLink::after {
  display: none;
}

.DropDown .HeaderLinkText {
  font-size: 0.875rem;
}

@media (max-width: 991px) {
  :root {
    --HeaderHeight: 60px;
  }

  .HeaderContent {
    gap: 20px;
  }

  .HeaderContent::before {
    width: 35px;
    height: 35px;
  }

  .MobileMenuButton {
    display: flex;
  }

  .HeaderMenu {
    background-color: rgb(27 27 27 / 80%);
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto;
    position: absolute;
    top: -200%;
    left: 0px;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
    padding: 15px;
  }

  .MobileMenuButton:checked ~ .HeaderMenu {
    top: var(--HeaderHeight);
  }

  .HeaderMenu .NavigationRow {
    flex-direction: column;
  }

  .HeaderMenu .ListRow {
    width: 100%;
    gap: unset;
    align-items: flex-start;
    flex-direction: column;
  }

  .ListRowItem {
    width: 100%;
  }

  .HeaderLink {
    width: 100%;
    min-height: 50px;
    justify-content: flex-start;
    padding: unset;
    border-bottom: 1px solid rgb(53, 53, 53);
  }

  .HeaderLink::after {
    display: none;
  }

  .HeaderLinkText {
    font-size: 1rem;
  }

  .HeaderLink:hover .HeaderLinkText {
    transform: translateX(10px);
  }

  .DropDown {
    width: 100%;
  }

  .DropDown .HeaderLink {
    border-bottom: unset;
  }

  .DropDown .HeaderLink:hover .HeaderLinkText {
    transform: unset;
  }

  .DropDownTop {
    min-height: 50px;
    padding: unset;
    border-bottom: 1px solid rgb(53, 53, 53);
  }
}
